/* Estilos globales */
html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  background-color: var(--joy-palette-background-body);
}

#root {
  height: 100vh;
  overflow: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--joy-palette-neutral-600, rgba(255, 255, 255, 0.2));
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--joy-palette-primary-500, rgba(255, 255, 255, 0.3));
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--joy-palette-neutral-600, rgba(255, 255, 255, 0.2))
    transparent;
}
